<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ul>
        <li *ngIf="session == null || session.getUser() == null">
          <a routerLink="/register">Register</a>
        </li>
        <li *ngIf="session == null || session.getUser() == null">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="session != null && session.getUser() != null">
          <a [routerLink]="['git', session.getUser().getUsername()]">My
            account</a></li>
        <li *ngIf="session != null && session.getUser() != null">
          <a [routerLink]="['./new-repository']">New repository</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
