<div class="row">
  <div class="col-md-6">
    <form (ngSubmit)="submit()" #form="ngForm">
      <input [ngModel]="formRequest.getUsername()"
             (ngModelChange)="formRequest.setUsername($event)"
             name="username"
             id="username"
      > <input [ngModel]="formRequest.getPassword()"
               (ngModelChange)="formRequest.setPassword($event)"
               name="password"
               id="password"
    >
      <button type="submit">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <kbd>test</kbd>
  </div>
</div>
